.about-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000vh; /* Full viewport height */
    width: 2000vw; /* Full viewport width */
    padding:10px; /* Add padding to prevent the card from touching the edges */
  }
  
  .quote-card-view {
    min-width: 300px; /* Ensure the card has a minimum width */
    max-width: 600px; /* Optional: set a maximum width for better appearance */
    width: 100%; /* Let the card take the full width within the max-width limit */
    padding: 20px; /* Add padding inside the card */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visual appeal */
  }
  
  .purple {
    color: purple;
  }
  
  .about-activity {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  